.block {
    display: block;
}
.form-control:focus {
    border-color:#8c8c8c;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
* {
    border-radius: 0
}

.btn-default {
    background-color: #646363;
}
.modal-header {
    background-color: #FFF;
    color: #fff;
}
.modal-footer {
    text-align: center;
    padding: 0 0 15px 0
}
.modal-footer a {
    color: #372F45;
    font-weight: bold
}
.modal-content{
    border-radius: 0
}
.btn-link {
    color: #09637d;
    font-weight: bold;
}
.card {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ddd;
}
/*.card:hover {
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}*/

.overlay {
    background: url(../img/gridtile.png) repeat rgba(0, 0, 0, .5);
    padding:80px 0 0 0;
    color: #fff
}
.with-bg {
    background-image: url(../img/homepage.jpg);
}
ul {
    padding-left: 15px
}
h1 {
    font-size: 55px
}
.border-right {
    border-right: 2px dotted #a9a9a9;
    border-bottom: none
}
.parallax {
    background-attachment: fixed;
}
.grey {
    background: #dadada
}
.blue {
    color: #012435
}
.red {
    color:#B80000
}
.yellow {
    color: #f39e0c;
   
}
.img-center {
    margin: 0 auto;
    display: block;
}
.block-center{
    margin:0 auto;
    display: block;
    float: none
}
.m-title {
    font-family: 'Roboto Slab', serif;
}
.m-15{
    margin:15px 0 0 0
}
sup {
    color: #fc1e23;
}
.side-card {
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .2);
}
/*scroll*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #E3BA2F;
    border-bottom: 4px solid #A26D00;
}
.scroll-top-wrapper:hover {
    background-color: #DAAB0E;
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
.p-b-20 {
    padding-bottom: 20px
}
.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
nav {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.navbar {
    z-index: 9999;
    margin-bottom: 0;
    border-radius: 0
}
a {
    text-decoration: none;
}
.p-0{
    padding: 0
}
.list{
    list-style-type: none;
}
address {
    margin-bottom:0px;
}
mark{
    padding: 2px;
    background-color: #f0ff00;
    font-size: 14px;
}
.loaderwrap{
    float: right;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    right: 0px;
    z-index:99999999999;
    top: 0px;
  }
.loader {
    border: 8px solid transparent; /* Light grey */
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-radius: 50%;
    width:60px;
    height:60px;
    animation: spin 1.4s linear infinite;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


